{% extends 'base.html' %} 

{% block title %}
 {{ foto.titulo }} 
{{foto.ano_foto}}
{% endblock title %} 

{% block content %}
    <h2>Detalhes da foto - "{{ foto.titulo }}" ({{ foto.ano_foto }})</h2>
    
    <section class="dados-da-foto">
      <img class="foto" src="{{ foto.url_foto }}" alt="Fotografia: {{ foto.titulo}}" />
      <ul>
        <li>{{ foto.titulo }}</li>
        <li>Ano da foto: {{ foto.ano_foto }}</li>
        <li><a href="{% url 'catalogo:atualizar' foto.id %}"> Editar </a> </li>
        <li><a href="{% url 'catalogo:deletar' foto.id %}"> Apagar </a> </li>
      </ul>

      <p> {{foto.descricao}} </p>
    </section>
    {% if foto.categoria_set.all %}
            <li>Categorias: {{ foto.categoria_set.all|join:", " }} </li>
    {% endif %}
    <section>
      <header>
          <h3>Comentários</h3>
      </header>
      <a href="{% url 'catalogo:comentario' foto.pk %}"><button>Comentar!</button></a>
      <ul>
          {% if foto.comentario_set.all %}
              {% for comentario in foto.comentario_set.all reversed  %}
                  <figure>
                      <blockquote>
                          "{{ comentario.texto }}"
                      </blockquote>
                      <figcaption>— {{ comentario.autor }}  - {{ comentario.data_postagem }}</figcaption>
                  </figure>
              {% endfor %}
          {% else %}
              <p>Ainda não existe nenhuma resenha para este filme.</p>
          {% endif %}
      </ul>
  </section>
    
    {% endblock content %}