{% extends 'base.html' %}

{% block content %}

<h2>Todos as fotos</h2>
<section>
<p>
  <a href="{% url 'catalogo:busca' %}"> Buscar</a>
  <a href="{% url 'catalogo:postar' %}"> Postar foto!</a>
</p>
</section>
{% if post_list %}
<section class="lista-de-cards">
  {% for foto in post_list %}
  <article class="card">
    <a href="{% url 'catalogo:detail' foto.id %}">
      <img src="{{ foto.url_foto }}" alt="{{foto.titulo}}"/>
    </a>
    <p>{{ foto.titulo }} ({{ foto.ano_foto }})</p>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme.</p>
{% endif %} 

{% endblock content %}